Flask
Flask-Cors
Flask-RESTful
transformers
torch
scikit-learn==1.7.1
pandas
numpy
sqlalchemy
presidio-analyzer
presidio-anonymizer
matplotlib
seaborn
xgboost
joblib
tensorflow
datasets
tqdm
dotenv
SQLAlchemy